.characters {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-list {
  width: 100%;
  background: ghostwhite;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  align-content: flex-start;
  padding: 2em;
  height: 60vh;

  list-style: none;
  gap: 1em;

  overflow-y: scroll;
}
